* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
}

/* HEADER */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;

  z-index: 100;

  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.507);
}

nav {

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(252, 252, 252);
  font-family: 'Poppins', sans-serif;

  z-index: 3;
}
.logo a{
  color: rgb(43, 43, 43);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 5px;
  font-size: 24px;

  cursor: pointer;
  transition: all .2s ease-in;

  margin-left: 14px;
  margin-top: 1000000000px;

}

.logo a:hover {
  color: rgb(40, 96, 218);
}

/* .menu .pdlogo {
  max-width: 80px;
  max-height: 60px;
  width: auto;
  height: auto;
} */

.nav-links {
  display: flex;
  /* background-color: red; */
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(43, 43, 43);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 15px ;

  transition: all .3s;
}

.nav-links a:hover {
  color: rgb(40, 96, 218);
}

.burger {
  display: none ;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(43, 43, 43);
  margin: 5px;

  transition: all 0.3s ease;
}

@media screen and (max-width: 1280px) {
  .nav-links {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {

  body {
    transition: none !important;
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(252, 252, 252);
    width: 55%;

    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(102%);
    transition: transform 0.3s ease-in;

  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
   
  }
}

.nav-active {
  transform: translateX(2%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
    
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
