* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  transition: .3s;
}
/* BODY */

section {
  border: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.banner .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  }

.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}

.banner .content h2 {
  color: #ffffff;
  font-size: 60px ;
}

.about {
  display: flex;
  position: relative;
  width: 100%;
}

.about .contentBx {
  background: #162c3b;
  padding: 100px;
  width: 50%;
}

.heading {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.text {
  color: #fff;
  font-weight: 300;
  font-size: 16px ;
  letter-spacing: 1px;
}

.about .imageBx {
  background: url('/images/ilha_pd.jpg');
  width: 50%;
  background-size: cover;
  background-position: center;
}

.info {
  display: flex;
  width: 100%;
  position: relative;
}

.info .contentBx {
  background-image: linear-gradient(#0d3047 60%, #12222d);
  padding: 100px;
  width: 70%;
}

.info .imageBx {
  width: 30%;

  background-image: linear-gradient(#0d3047 60%, #12222d);

  display: flex;
  align-items: center;
  justify-content: center;

}

.info .imageBx img {
  max-width: 100%;
  height:auto;
  
  border-radius: 50%;

  padding: 20px 50px;
}



.Testimonials {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}

.Testimonials .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 40px;
   flex-wrap: wrap;

   display: flex;
  justify-content: center;
  align-items: center;
}

.Testimonials .container .bioBx {
  background: #fff;
  padding: 60px 50px;
  width: 700px;

  text-align: start;
  flex-direction: column;

  margin: 20px;
}

.Testimonials .container .bioBx .bio {
  font-style: italic;
  font-weight: 700;
}

.Testimonials .container .bioBx h3{
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #3f8ffc;
}



@media (max-width: 1312px) {
  .banner .content h2 {
    font-size: 36px ;
  }
  .banner .content p {
    font-size: 16px;
  }
  .banner {
    padding: 40px;
  }
  

  .Testimonials {
    padding: 50px ;
  }

  .Testimonials .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Testimonials .contentBx {
    padding: 60px 40px  ;
    max-width: 550px;

    margin-top: 20px;
  }

  .Testimonials .contentBx:last-child {
    margin-bottom: 0;
  }

  .info .imageBx {
    background :#0d3047;
  }

  
}

@media (max-width: 768px) {

  .Testimonials {
    padding: 20px;
  }

  .Testimonials .container:first-child {
    margin-top: 20px;
  }

  .Testimonials .container {
    margin: 0px;
  }
  .Testimonials .container .bioBx .bio {
    font-size: 14px;
  }

  .Testimonials .container .bioBx h3 {
    font-size: 14px;
  }

  .Testimonials .container .bioBx {
    padding: 40px 30px;
  }

  .about .contentBx .heading {
    font-size: 26px;
  }
  
}

/* Animações */

[data-anime] {
  opacity: 0;
  transition: .3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="top"] {
  transform: translate3d(0, -50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
