<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPCD | Grupo de Pesquisa em Ciências de Dados</title>
    <!-- Fonts And Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1cbd342892.js" crossorigin="anonymous"></script>
    <!-- scripts -->
    <script src="/src/scripts/header.js" defer></script>
    <script src="/src/scripts/animations.js" defer></script>
    <script src="/src/scripts/smoothscroll.js" defer></script>
    <!-- CSS Here -->     
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/header.css">
    <link rel="stylesheet" href="/src/styles/footer.css">
    <!-- font-family: 'Poppins', sans-serif; -->
</head>
<body>

  <div class="banner">
    <!-- Header -->
    <header class="header">
        <nav class="menu">
            <div class="logo">
                <h3><a href="index.html">gp | cd</a></h3>
            </div>
            <ul class="nav-links">
                <li> <a href="index.html">Home</a> </li>
                
                <li> <a href="index.html">Conheça</a> </li>
                
                <li> <a href="about.html">Sobre Nós</a> </li>
            </ul>
        
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </header>
    <div class="overlay"></div>
    <!-- Content -->
    <img class="background" src="/images/teamwork.png" alt="Code" id="home">
    <div class="content" >
        <h2>Sobre Nós</h2>
        <p class="text"> Conheça a história de alguns de nossos integrantes com a tecnologia, e suas motivações</p>
    </div>
</div>

<section class="Testimonials">
  <h2 class="heading">Motivações e História dos Integrantes</h2>
  <div class="container" data-anime="left" >      
      <div class="bioBx">
          <p class="bio">   
              Meu contato com programação começa antes de eu sequer saber da existência da ETE Porto Digital, eu sempre fui bastante interessada por jogos, ao ponto de querer saber mais como ele eram feitos, o que me fez pesquisar sobre vários tipos de programações, através de um professor da minha antiga escola eu consegui me inscrever e entrar na ETE Porto Digital, para tentar aprender bastante sobre programação e design, durante os estudos o professor Cloves criou um grupo de ciência de dados, fiquei em dúvida sobre entrar, pois estava mais para o lado de design e não sabia muito sobre programação, mas vi como uma ótima oportunidade para aprender mais sobre programação e aplicar os conceitos que estou aprendendo durante as aulas de design, pretendo aprender bastante sobre programação estando no grupo e tentar deixar nossos projetos o mais visualmente bonitos e obter experiência para me tornar uma ótima profissional.<br><br>
          </p>
          <h3><em>Sabrina, 15 anos, 1ºC</em></h3>
      </div>
      
      <div class="bioBx">
          <p class="bio">   
              Tudo começou em 2018 quando o Porto Digital virou uma ETE, apesar que eu não tinha nenhum conhecimento do Porto Digital a minha irmã viu o grande potencial da escola e meu irmão tinha alguns conhecimentos de software, mas eu nunca tinha pensado em fazer algo na área de sistemas. Enfim, chegou 2019, época de fazer a inscrição para a prova, escolhi o Porto Digital mesmo não tendo conhecimento sobre sistemas e seria até bom aprender sobre. Passei na prova, fiz a matrícula e tudo que era necessário. Um tempo depois o professor de programação falou sobre a criação de um grupo de dados, de primeira não entrei já que meu conhecimento era bem básico, mas depois mudei de ideia já que o grupo de dados seria para aprofundar o conhecimento. Com o grupo de dados espero conseguir aumentar meu conhecimento sobre o mundo de desenvolvimento de sistemas e usar esse conhecimento na minha vida profissional.<br><br>
          </p>
          <h3><em>Elisa, 15 anos, 1ºB</em></span></h3>
      </div>
      
      <div class="bioBx">
          <p class="bio">   
              Bom, em 2009, quando eu tinha uns três anos de idade, meu pai comprou um computador, mais pra usar pra trabalho e tal. Quando vi, fiquei fascinado por aquilo e como tudo funcionava, e eu com minha curiosidade de criança, pedi para meu pai me ensinar a mexer naquela máquina. Meu pai me ensinou a entrar no Google e jogar no Click Jogos, o resto eu descobri sozinho. E em meados de 2017/2018, terminei, sem querer, descobrindo a programação enquanto pesquisava sobre profissões que lidava com tecnologia. Estudei um pouco de lógica, mas terminei parando no meio, até que chegou o período de inscrições do ETE e IFPE. Não me encaixava em nenhum curso, até ver o Técnico, Desenvolvimento de Sistemas no ETEPD, e foi paixão logo de cara. Passei na prova, e dentro do PD abriu-se a oportunidade de entrar no <br><br>
          </p>
          <h3><em>Flávio, 14 anos, 1ºC</em></h3>
      </div>
      
      <div class="bioBx">
          <p class="bio">   
              A história começa antes da criação do grupo, quando eu tinha apenas 11 anos, quando comecei a me interessar por programação, de como as tecnologias eram feitas, pois eu gostava muito de jogar jogos eletrônicos, ficar no computador e de tecnologia, mas nunca me aprofundei. Anos se passaram, e entrei no ETE PORTO DIGITAL, procurando desenvolver mais meu conhecimento sobre informática e sistemas. Enquanto estudava, Cloves, o professor de linguagem de programação dos alunos do 1° ano, cogitou por criar um grupo de ciência de dados, fiquei receoso de entrar, pois meu entendimento era muito raso, todavia fui aceito e estou me aperfeiçoando cada vez mais. Eu estando no grupo pretendo conhecer mais a programação, programar, ter experiência e poder levar para minha vida profissional.
                   <br><br>
          </p>
          <h3><em>Gustavo, 15 anos, 1ºA</em></span></h3>
      </div>

      <div class="bioBx">
          <p class="bio">   
              minha história com a tecnologia começou desde cedo com os primeiros consoles da nintendo, desde então só me interessei cada vez mais, até que me vi na oportunidade de levar essa paixão na prática com a ETE Porto Digital, desde que entrei no PD cada vez mais percebo que é isso que eu quero pra minha vida, ser programador.<br><br>
          </p>
          <h3><em>Lucas, 15 anos, 1ºA</em></span></h3>
      </div>

  </div>


</section>


<section class="footer">  
  <ul>
      <span>Nos Acompanhe :</span>
      <li><a href="https://www.instagram.com/gpcd.etepd/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCgRxpKnV-62BG7IbLCyHYXA" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <li><a href="https://github.com/ETEPD-GPCD" target="_blank"><i class="fab fa-github"></i></a></li>
  </ul>
  <p class="text">GP | CD - Grupo de Pesquisa em Ciências de Dados</p>
</section>

  
</body>
</html>