<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPCD | Grupo de Pesquisa em Ciências de Dados</title>
    <!-- Fonts And Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1cbd342892.js" crossorigin="anonymous"></script>
    <!-- scripts -->
    <script src="/src/scripts/header.js" defer></script>
    <script src="/src/scripts/animations.js" defer></script>
    <script src="/src/scripts/smoothscroll.js" defer></script>
    <!-- CSS Here -->     
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/header.css">
    <link rel="stylesheet" href="/src/styles/footer.css">
    <link rel="stylesheet" href="/src/styles/tecs.css">
    <link rel="stylesheet" href="/src/styles/activities.css">
    <!-- font-family: 'Poppins', sans-serif; -->
</head>

<body class="preload">
    <div class="banner">
        <!-- Header -->
        <header class="header">
            <nav class="menu">
                <div class="logo">
                    <h3><a href="index.html">gp | cd</a></h3>
                    <!-- <img class="pdlogo" src="/images/gpcdlogo.png" alt="logo"> -->
                </div>
                <ul class="nav-links">
                    <li> <a href="index.html">Home</a> </li>
                    
                    <li> <a id="scroll"href="#Conheça">Conheça</a> </li>
                    
                    <li> <a href="about.html">Sobre Nós</a> </li>
                </ul>
            
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav>
        </header>
        <div class="nav__overlay"></div>
        <!-- Content -->
        <img class="background"src="/images/pythocode.png" alt="Code" id="home">
        <div class="content" >
            <h2>Seja Bem-Vindo(a)!</h2>
            <p class="text"> Seja bem-vindo ao site do Grupo de Ciências de Dados da ETE Porto Digital, onde nós aprendemos a programar e a desenvolver, aqui você poderá nos conhecer, conhecer nosso integrantes e descobrir o que fazemos.</p>
        </div>
    </div>

    <!-- About -->
    <section class="about" id="Conheça">
        <div class="contentBx" data-anime="left">
            <h2 class="heading">Como Surgimos ? </h2>
            <p class="text">A convite do professor Clóves Rocha, nós, alunos do 1° ano da ETE Porto Digital, fomos chamados para ingressar em um projeto focado em aprimorar pesquisas na área de Ciência de Dados. O projeto é  liderado pelo aluno Miguel e foi denominado posteriormente de "Grupo de Ciências de Dados" pelos integrantes. 
        </div>
        <div class="imageBx"> </div>
    </section>

    <section class="info">  
        <div class="contentBx" data-anime="left">
            <h2 class="heading">Info</h2>
            <p class="text">
                O projeto teve ascensão por intermédio do professor Clóves Rocha, graduado em Gestão da Tecnologia da Informação, mestre em Ciência da Computação pelo Centro de Informática da UFPE, professor da ETE Porto Digital, professor universitário na UniFG, conselheiro dos cursos superiores de tecnologia no Centro Universitário Guararapes (UniFG), Orientador do grupo de pesquisa em Data Science, na REDE LAUREATE INTERNATIONAL UNIVERSITIES e atual orientador do grupo.
            </p>
        </div>
        <div class="imageBx"> <img src="/images/prof.jpg" alt="Professor Cloves"></div>
    </section>

    <section class="services" id="About">
        <div class="title" data-anime="top">
            <h2 class="heading">O que Fazemos ?</h2>
            <p class="text">Utilizamos da tecnologia das linguagens de programação, aplicando-a em pesquisas focadas em ciência de dados, possibilitando assim o encurtamento da noção de criação de um site, pois temos iniciação recente na área da tecnologia e, por meio de estudos e aperfeiçoamento de técnicas interligados ao trabalho em equipe, desenvolvemos um site de maneira mais precoce em questão de nível acadêmico. Temos uma variedade enorme de personalidades e objetivos, por isso dentro do nosso grupo temos dois times, Design e Desenvolvimento, trabalhando em conjunto para crescermos e alcançarmos o próximo nível. <p>
        </div>
            <div class="container">
                <div class="serviceBx" data-anime="left">
                <div>
                    <img src="/images/icons/icon1.png" alt="Design">
                    <h2>Design</h2>
                </div>
            </div>
            <div class="serviceBx" data-anime="top">
                <div>
                    <img src="/images/icons/icon2.png" alt="Desenvolvimento">
                    <h2>Desenvolvimento</h2>
                </div>
            </div>
            <div class="serviceBx" data-anime="right">
                <div>
                    <img src="/images/icons/icon3.png" alt="Branding">
                    <h2>Crescimento</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="technology" >
        <div class="contentBx" data-anime="left" >
            <h2 class="heading">Tecnologias que Utilizamos</h2>
            <p class="text">
                Para a realização do projeto, utilizamos 4 linguagens, sendo elas:<br>
                HTML<br>
                É uma linguagem de marcação utilizada na construção de páginas na Web.<br>
                Cascading Style Sheets (CSS)<br>
                É um mecanismo para adicionar estilo a um documento web.<br>
                JavaScript <br>
                É uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca e multiparadigma. <br>
                Python <br>
                É uma linguagem de programação de alto nível, interpretada, de script, imperativa, orientada a objetos, funcional, de tipagem dinâmica e forte.
            </p>
        </div>
        <div class="imageBx" data-anime="right">
            <img src="/images/tech.png" alt="Tecnologias">
        </div>
    </section>

    <section class="activities">
        <div class="titlex">
            <h2 class="heading">Mas, O que é "Ciência de Dados" ?</h2>
            <p class="text">Com a chegada da <strong>Era da Informação</strong> a quantidade de Informações, de <strong>Dados</strong>, se tornaram imensas e impossíveis de se administrar no papel, para coletar e organizar todos esses dados só com o auxílio da tecnologia. A Ciência de Dados ou <strong>Data Science</strong> é o uso de diversas tecnologias, para coletar, armazenar e processar informações, ela se mostrou fundamental para qualquer empresa, para, por exemplo, traçar o perfil de possíveis clientes com base em dados coletados, e a partir daí, criar possíveis estratégias de negócio, de marketing, etc. A Ciência de Dados une alguns ramos, como por exemplo: </p>
        </div>
        <div class="images-container">
            <div class="first-container auto">
                <div class="first"><img src="/images/transistor1.png" alt="transistor"></div>
                <span class="txt">Ciência da computação</span>
            </div>   
            <div class="second-container auto">
                <div class="second"><img src="/images/brain.png" alt="transistor"></div>
                <span class="txt">Inteligência Artificial Aprendizado de Máquina</span>
            </div>
            <div class="third-container auto">
                <div class="third"><img src="/images/calculator.png" alt="calculadora"></div>   
                <span class="txt">Matemática e Estatística</span>      
            </div>
        </div> 
        <div class="titlex last">
            <p class="text">
                A União desses três ramos torna a Ciência de Dados algo muito poderoso, essencial pra qualquer empresa de qualquer porte, facilitando e aprimorando a relização das tarefas dentro da empresa, Ela abrange muitos cargos e funções, como <strong>Analista de Dados</strong> , <strong>Cientista de Dados</strong>, e cargos relacionados a inteligência artificial. 
            </p>
        </div>
    </section>
        
    
    <section class="footer">  
        <ul>
            <span>Nos Acompanhe :</span>
            <li><a href="https://www.instagram.com/gpcd.etepd/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCgRxpKnV-62BG7IbLCyHYXA" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://github.com/ETEPD-GPCD" target="_blank"><i class="fab fa-github"></i></a></li>
        </ul>
        <p class="text">GP | CD - Grupo de Pesquisa em Ciências de Dados</p>
    </section>

</body>


</html>