<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GPCD | Grupo de Pesquisa em Ciências de Dados</title>
  <link rel="stylesheet" href="src/styles/main.css">
  <script src="https://kit.fontawesome.com/1cbd342892.js" crossorigin="anonymous"></script>
  <script src="src\styles\views\scripts\app.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="images/icons/gpcd.jpg" type="image/x-icon">
  <!-- font-family: 'Poppins', sans-serif; -->
</head>

<body>

  
</body>

</html>